<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" routerLink="active">Ecommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <ng-container *ngIf="!isLoggedIn; else loggedIn">
            <li class="nav-item">
              <a class="nav-link" routerLink="register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="login">Login</a>
            </li>
          </ng-container>
          <ng-template #loggedIn>
            <li class="nav-item">
              <a class="nav-link" routerLink="account">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" (click)="logout()">Logout</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
</nav>
