<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub-Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cartItem of cartItems">
            <td class="align-middle">
              <img [src]="cartItem.imgUrl" alt="Product Image" class="product-image" [routerLink]="['/product', cartItem.productId]" style="cursor: pointer;">
            </td>
            <td class="align-middle" [routerLink]="['/product', cartItem.productId]" style="cursor: pointer;">{{ cartItem.productName }}</td>
            <td class="align-middle" [routerLink]="['/product', cartItem.productId]" style="cursor: pointer;">${{ cartItem.price }}</td>
            <td class="align-middle" [routerLink]="['/product', cartItem.productId]" style="cursor: pointer;">x{{ cartItem.quantity }}</td>
            <td class="align-middle" [routerLink]="['/product', cartItem.productId]" style="cursor: pointer;">${{ cartItem.subTotal }}</td>
            <td class="align-middle">
              <button class="btn btn-danger" (click)="removeCartItem(cartItem.productId); false">X</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <p>Total Price: ${{ totalPrice.toFixed(2) }}</p>
      </div>
      <div class="d-flex justify-content-end">
        <a class="btn btn-primary" routerLink="/payment">Check Out</a>
      </div>
    </div>
  </div>
</div>