<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular-Springboot Ecommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" data-bs-dismiss="offcanvas">Home</a>
          </li>
          <ng-container *ngIf="!isLoggedIn; else loggedIn">
            <li class="nav-item">
              <a class="nav-link" routerLink="register" data-bs-dismiss="offcanvas">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="login" data-bs-dismiss="offcanvas">Login</a>
            </li>
          </ng-container>
          <ng-template #loggedIn>
            <li class="nav-item">
              <app-cart></app-cart>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="user" data-bs-dismiss="offcanvas">{{ userDetails?.email }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" (click)="logout()" data-bs-dismiss="offcanvas">Logout</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</nav>